<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.195604724100-md7c7qpllssl10egkeluuv2gc45oi11d</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>$(GIDClientID)</string>
	<key>GOOGLE_CALLBACK_URL</key>
	<string>$(GOOGLE_CALLBACK_URL)</string>
	<key>SUPABASE_KEY</key>
	<string>$(SUPABASE_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
</dict>
</plist>
